<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,800" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" crossorigin=""/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.greybg {
  background: #eee;
}
.pd0 {
  padding: 0;
}
</style>
</head>
<body>
<div class='col-xs-12' style='height;100%'>
  <div class='col-xs-4'>
    <div id='settings'>
      <div style="padding:10px 20px;">
        <div class="col-ps-12">
          <div>My budget for a month:</div>
        </div>
      </div>
      <div style="padding:10px 20px;">
        <div class="col-ps-12">
          <div>Housing: <span id="range_housing_value"></span></div>
        </div>
        <input class='ranger' id="range_housing" type="range" value='1000' max='10000' min='0'/>
      </div>
      <div style="padding:20px;">
        <div class="col-ps-12">
          <div>Food: <span id="range_food_value"></span></div>
        </div>
        <input class='ranger' id="range_food" type="range" max='10000' min='0'/>
      </div>
      <div style="padding:20px;">
        <div class="col-ps-12">
          <div>Transportation: <span id="range_transport_value"></span></div>
        </div>
         <input class='ranger' id="range_transport" type="range" max='6000' min='0'/>
      </div>
      <div style="padding:20px;">
        <div class="col-ps-12">
          <div>Entertainment: <span id="range_events_value"></span></div>
        </div>
         <input class='ranger' id="range_events" type="range" max='6000' min='0'/>
      </div>
      <div style="padding:20px">
        <div class="col-ps-12">
          <div style="font-size:30">Total: <span id="total_value"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-xs-8 greybg pd0'>
    <div class='col-xs-12 pd0' id='property'>
      <div class='col-xs-6 pd0' id='map'></div>
      <div class='col-xs-6 pd0' id='property_list' style='overflow:auto'></div>
    </div>
  </div>
  <div class='col-xs-6'>
    <div id='food' style='overflow:auto'></div>
  </div>
  <div class='col-xs-6'>
    <div id='events' style='overflow:auto'></div>
  </div>
</div>
</body>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" crossorigin=""></script>
<script>
  var app = {};
  app.onresize = function() {
    var win_h = $(window).height();
    var half_h = parseInt(win_h/2);
    $('.col-xs-6').css('height', half_h + 'px');
    $('#events').css('height', half_h + 'px');
    $('#food').css('height', half_h + 'px');
    $('#map').css('height', half_h + 'px');
  }
  app.initmap = function() {
    var sgcoords = [1.352083, 103.81983600000001];
    app.map = L.map('map').setView(sgcoords, 11);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(app.map);
    app.workMarker = L.marker(sgcoords, {draggable: true}).addTo(app.map);
    app.workMarker.bindPopup("<b>Put me to your work location!</b>").openPopup();
  }
  $(window).on('resize', function () {
    app.onresize();
  });
  app.setRangeValues = function () {
    var housing = parseInt($("#range_housing").val());
    var food = parseInt($("#range_food").val());
    var events = parseInt($("#range_events").val()); 
    var transport = parseInt($("#range_transport").val());
    $("#range_housing_value").html( housing );
    $("#range_food_value").html( food );
    $("#range_events_value").html( events );
    $("#range_transport_value").html( transport );
    $("#total_value").html(housing + food + events + transport);
  }
  app.selectEvents = function() {
    var cost = $("#range_events_value").html()
    $.get('/events/?cost='+cost, function(data) {
        $("#events").html('');
        for (var o in data.objects) {
          var ob = data.objects[o];
          console.log(ob, ob.price, ob.name);
          var html = '<div style="padding:10px;">';
          html += '<b>'+ob.price+'SGD </b>';
          html += ob.name;
          html += '</div>';
          console.log(html);
          $("#events").append($(html));          
        }
    });
  }
  app.selectProperties = function() {
    var cost = $("#range_housing_value").html()
    var transit_cost = $("#range_transport_value").html()
    var lat = app.workMarker.getLatLng().lat;
    var lon = app.workMarker.getLatLng().lng;
    $.get('/properties/?cost='+cost+'&transit_cost='+transit_cost+'&transit_lat='+lat+'&transit_lon='+lon, function(data) {
        $("#property_list").html('');
        for (var o in data.objects) {
          var ob = data.objects[o];
          console.log(ob, ob.price, ob.name);
          var html = '<div style="padding:10px;">';
          html += '<b>'+parseInt(ob.price)+'SGD </b>';
          html += ob.address;
          html += '<br>Rating: ' + parseInt(ob.rating);
          if (ob.taxi) {
            html += '<br>You can drive by taxi!';
          } else {
            html += '<br>Only public transit available';
          }
          html += '</div>';
          $("#property_list").append($(html));
        }
    });
  }
  app.selectFood = function() {
    var cost = $("#range_food_value").html();
    $.get('/food/?cost='+cost, function(data) {
        $("#food").html('');
        for (var o in data.objects) {
          var ob = data.objects[o];
          var html = '<div style="padding:10px;">';
          var b = ob.breakfast;
          var l = ob.lunch;
          var d = ob.dinner;
          html += 'Breakfast: ' + b.name + ' at ' + b.venue + ' for ' + b.price;
          html += '<br>Lunch' + l.name + ' at ' + l.venue + ' for ' + l.price;
          html += '<br>Dinner' + d.name + ' at ' + d.venue + ' for ' + d.price;
          html += '</div>';
          $("#food").append($(html));
        }
    });
  }
  $(document).ready(function() {
    app.onresize();
    app.initmap();
    $(".ranger").on('input', function() {
      app.setRangeValues();
    });
    app.setRangeValues();
    $("#range_events").on('change', function() {
      app.selectEvents();
    });
    $("#range_housing").on('change', function() {
      app.selectProperties();
    });
    $("#range_transport").on('change', function() {
      app.selectProperties();
    });
    $("#range_food").on('change', function() {
      app.selectFood();
    });
      app.setRangeValues();
      app.selectEvents();
      app.selectProperties();
      app.selectFood();
      app.workMarker.on('move', function(e) {
      app.selectProperties();
      });
  });
</script>
</html>
